### Regression - эффективность расхода топлива

В этом задании используется классический датасет Auto MPG. Необходимо построить модель, предсказывающую эффективность расхода топлива автомобилей конца 70-х и начала 80-х. В датасете представлено описание множества различных автомобилей того времени. В нём содержатся такие параметры как количество цилиндров, лошадиных сил, объем двигателя и вес.

Описание данных

* mpg - расход топлива
* cylinders - количество цилиндров
* displacement - смещение
* horsepower - лошадиные силы
* weight - вес
* acceleration - ускорение
* model year - год выпуска
* origin - страна (1 - USA, 2 - Europe, 3 - Japan)
* car name - наименование автомобиля

In [189]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [190]:
# !gdown https://drive.google.com/uc?id=1_MfiAd6ZPYmgvRqTY61EQL5Nl2LtfoOM

In [191]:
data = pd.read_csv('auto-mpg.csv')

In [192]:
data.shape

(398, 9)

In [193]:
data.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name'],
      dtype='object')

In [194]:
data.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190,3850,8.5,70,1,amc ambassador dpl

### Задание 1

Проведите анализ и визуализацию данных. А также реализуйте предварительную обработку данных - добавьте признак AGE возраст автомобиля (в предположении, что анализ проводится в 1985 году), а также удалите категориальные признаки.

In [195]:
data['age'] = 85 - data['model year']
data = data.drop('car name', axis = 1)
data = data.drop(data[data['horsepower'] == '?'].index)
data['horsepower'] = pd.to_numeric(data['horsepower'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model year    392 non-null    int64
 7   origin        392 non-null    int64
 8   age           392 non-null    int64
dtypes: float64(3), int64(6)
memory usage: 30.6 KB

In [ ]:
for index, feature_name in enumerate(data.columns):
    plt.figure()
    plt.scatter(data[:, index], y)
    plt.ylabel('Miles per gallon')
    plt.xlabel(feature_name)

### Задание 2

Реализуйте линейную регрессию - зависимость расхода топлива от мощности двигателя (количество лошадиных сил). Какая линейная зависимость получилась? Проведите анализ.

In [196]:
#здесь ваш код

### Задание 3

Реализуйте множественную регрессию, при этом необходимо провести масштабирование признаков.

In [197]:
#здесь ваш код

### Задание 4
Выполните регуляризацию модели разными способами и оцените её качество.

In [198]:
#здесь ваш код

### Задание 5

Проведите оценку и сравнительный анализ результатов. Какие признаки являются значимыми?

In [199]:
#здесь ваш код